/* Estilos gerais da section */
.futureFeaturesSection {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* Título da seção */
.title {
    color: #004d40;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
}

/* Container dos cards */
.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

/* Estilo de cada card */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: left;
}

/* Título de cada card */
.card h3 {
    color: #004d40;
    font-size: 20px;
    margin-bottom: 12px;
}

/* Texto do card */
.card p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}
@media (max-width: 1200px) {
    .futureFeaturesSection {
      padding: 30px;
    }
  
    .title {
      font-size: 32px;
    }
  }
  
  @media (max-width: 1024px) {
    .cardsContainer {
      gap: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      min-width: 200px;
      max-width: 250px;
    }
  
    .card h3 {
      font-size: 18px;
    }
  
    .card p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      min-width: 150px;
      max-width: 200px;
    }
  
    .card h3 {
      font-size: 16px;
    }
  
    .card p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 360px) {
    .futureFeaturesSection {
      padding: 20px;
    }
  
    .card {
      min-width: 100px;
      max-width: 150px;
    }
  
    .card h3 {
      font-size: 14px;
    }
  
    .card p {
      font-size: 10px;
    }
  }