.loginContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.background {
    background-color: #095947;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50%;
}

.login {
    width: 45%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width:25vw;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #4E4E4E;
    font-family: 'Poppins', sans-serif;
}

.inputContainer {
    margin-bottom: 15px;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

.inputField:focus {
    border-color: #00A878;
    outline: none;
    box-shadow: none;
}

.esqueceuSenha {
    font-size: 1.0rem;
    text-decoration: underline;
}

.submit {
    width: 100%;
    background-color: #00A878;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.submit:hover {
    background-color: #007d5e;
}

.submitCad{
    width: 100%;
    background-color: #fafafa;
    color: #007d5e;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #007d5e;
    border-color: #007d5e;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.submitCad:hover {
    background-color: #2ECC71;
    color: #fafafa;
}

.googleLogin {
    text-align: center;
    margin-top: 15px;
}

.googleButton {
    width: 100%;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

.googleIcon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

@media (max-width: 1200px) {
    .container {
        width: 35vw;
    }
}

@media (max-width: 1024px) {
    .loginContainer {
        flex-direction: column;
    }

    .background, .login {
        width: 100%;
        height: 50%;
    }

    .container {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    .container {
        width: 70vw;
    }

    .title {
        font-size: 1.75rem;
    }

    .inputField, .submit, .submitCad, .googleButton {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 85vw;
    }

    .title {
        font-size: 1.5rem;
    }

    .inputField, .submit, .submitCad, .googleButton {
        font-size: 0.85rem;
        padding: 7px;
    }
}

@media (max-width: 360px) {
    .container {
      width: 90vw;
    }
  
    .title {
      font-size: 1.25rem;
    }
  
    .inputField, .submit, .submitCad, .googleButton {
      font-size: 0.75rem;
      padding: 6px;
    }
  }